@font-face {
    font-family: "merriweather"; 
    src: url(Merriweather-Regular.ttf); 
}
@font-face {
    font-family: "badaboom";
    src: url(BADABB__.TTF);
}  
    h1
    {
       font-family: "badaboom";
       text-shadow: 10px 5px 3px black;
       font-size: 5em;
       text-align: center;
       color: rgb(196, 63, 53);
       border: 3px solid black;
       box-shadow: 6px 6px 6px black;
      
    }
    body
    {
        background-image: url(fondcv.jpg);
    }
    .adress
    {
        text-align: right;
        color: rgb(202, 191, 40);
        font-size: 1.5em;
        font-family:'Arial Narrow Bold', sans-serif ;
    }
    p
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.3em;
    
    }
    h2
    {
        text-transform: uppercase;
        font-family:"merriweather";
        font-size: 1.6em;
        color:rgb(202, 191, 40);
        text-decoration: underline;
        text-align: center;
        border: 3px solid black;
        box-shadow: 6px 6px 6px black;
    }
    en
    {
        text-decoration: underline;
    }
    .objectif
    {
        font-size: 1.6em;
        font-family: Arial, Helvetica, sans-serif;
    }
    spam
    {
        color:blue;
    }
    .list
    {
        font-size: 1.3em;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 50%;
        margin: auto;
    
    }
    .list1
    {
        font-size: 1.3em;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: auto;
        display: flex;
    }
    h3
    {
        font-size:  1.3em;
        color:rgb(202, 191, 40);
        font-family:"merriweather";

    } 
