@font-face {
    font-family: "bungee";
    src: url(Bungee-Regular.ttf);
} 
h1
{
    font-family: "bungee";
    text-shadow: 10px 5px 3px black;
    font-size: 3em;
    text-align: center;
    color:white;
    border: 3px solid black;
    box-shadow: 6px 6px 6px black;
    background-image: url(fondtitre.jpg) ; 
}
nav
{
    text-align: center;
    font-size: 1.7em;
    text-transform:capitalize;
}
body
{
    background-image: url(fondcv.jpg) ;
}
.adress
{
    text-align: right;
    font-size: 1.5em;
    font-family: 'Merriweather', serif; 
}
p
{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.5em;
    color:black;
    
    
}
h2
{
    text-transform:uppercase;
    text-shadow: 10px 5px 3px black;
    font-family:"bungee";
    font-size: 2em;
    color:white;
    text-align: center;
    border: 3px solid black;
    box-shadow: 6px 6px 6px black;
    background-image: url(fondtitre.jpg) ;
}
en
{
    text-shadow: 2px 2px 2px black;
}
.objectif
{
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}
spam
{
    color:blue;
    
}
.list
{
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin: auto;
    width: 50%;
    color:black;
    
}
.list1
{
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color:black;
    margin: auto;
    width: 25%;
    

}    
h3   
{
    font-size:  2em;
    color:#35ADDF;
    font-family:"bungee";
    text-shadow: 10px 5px 3px black;
    margin: auto;
    text-align:center;
    text-shadow: 3px 3px 3px black;
}
@media  all and (max-device-width:1024px) 
{
    .list
    {
        width:100%
    }
    h3
    {
        text-align: left;
    }
    .list1
    {
        width: 100%;
    }
}
